#login-container, #register-container {
    background: #F5F5EE;
    height: 100vh;
    width: 50vw;
    padding: 50px
}

#login-form-container {
    margin-bottom: 10px;
}


.full-width-button {
    width: 100%;
}

div.logo .site-title {
    margin-top: 0;
    margin-bottom: 30px;
}

.logo img {
    height: 200px;
    width: auto
}

.logo {

    text-align: center;
}