#user-profile {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 100vh;
    min-height: 300px;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
}

#controllers {
    height: 100vh;
    display: grid;
    grid-template-rows: auto max-content;
}

#projects-controller {
    background: #444444;
    color: #D5D5D5;
    border-right: 1px solid #333333;
    padding: 10px;
    margin: 0;
    max-width: 210px;
    border-radius: 0;
}

#user-controller div .controller-link ,#projects-controller a {
   color: #D5D5D5;
}

#user-controller div .controller-link:hover ,#projects-controller a:hover, .controller-link:hover {
    color: #AAAAAA;
    cursor: pointer;
}

#reference-form {
    position: relative;
    background: #F1F1F1;
    box-shadow: 0 5px 5px;
    padding: 15px 0 25px 25px;
    overflow-y: scroll;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    animation-name: ref-form;
    animation-duration: 350ms;
}

#reference-form::-webkit-scrollbar {width: 0 !important}

#reference-form .form {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10px;
}

#resources-view {
    position:relative;
    overflow-y: scroll;
}

#resources-view::-webkit-scrollbar {width: 0 !important}

#resources-container {
    height: 100vh;
    grid-template-rows: min-content auto;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: grid;
    background: #666666;
}

#resources-controller {
    border-radius: 0;
    padding: 5px;
    background: #444444;
    border-bottom: 1px solid #666666;
    margin: 0;
}

#resources-controller .item {
    color: #D5D5D5;
}

#resources-controller.ui.menu .item:before {
    background: #666666;
}

#resources-controller .item .dropdown {
    max-width: 30vw;
}

#user-controller {
    border-radius: 0;
    margin: 0;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    background-color: #444444;
    color: #D5D5D5;
    padding: 10px;
}

.projects.controller-link a {
    margin-right: 10px;
}

.projects.controller-link:after {
    background: #FFFFFF
}

.show-note:hover {
    cursor: pointer;
}

#logo {
    -webkit-filter: drop-shadow(0px 0 1.5px #222);
    filter: drop-shadow( 1px 0 .5px #222);
    text-align: center;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/

}

#logo img {
    width: 100px;
    height: auto
}

.logo-title {
    font-family: Geneva,Tahoma,Verdana,sans-serif;
    color: #D5D5D5;
    font-size: 30px;
    margin: 0;
}

@keyframes ref-form {
    from {bottom: 100vh}
    to {bottom: 0vh}
}