#user-profile {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 85vh 15vh;
    height: 100vh;
    width: 100vw;
}

#projects-controller {
    background: rgb(51,51,51);
    background: #444444;
    color: #D5D5D5;
    border-right: 1px solid #000000;
    padding: 10px;
}

#resources-view {
    overflow-y: scroll;
}

#resources-container {
    grid-auto-rows: min-content;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: grid;
    background: #F1F1F1;
}

#resources-controller {
    background: #3E3E3E;
    border-bottom: 1px solid #6A6A6A;
    color: #D5D5D5;
}

#user-controller {
    border-top: 1px solid #666666;
    background-color: #444444;
    color: #D5D5D5;
}

