.reference {
    z-index: 2;
    position: relative;
    width: inherit;
    margin: 3px auto;
    max-width: 850px;
    background: #F1F1F1;
    box-shadow: 0 0 5px #222222;
    border-radius: 3px 3px;
    overflow: hidden;
}

div.note-dropdown.ui.scrolling.dropdown {
    /*margin-top: 10px;*/
    background: #ffffff;
    border-top: solid 1px #CECECE;
    border-right: solid 1px #CECECE;
    border-left: solid 1px #CECECE;
    border-radius: 4px 4px 0 0;
}

div.ui.bottom.attached.segment.active.tab {
    padding: 0;
}

.editor-toolbar.menu {
    margin: 0
}

.editor-container {
    padding: 40px;
    max-height: 475px;
    overflow-y: scroll;
}

.editor-container::-webkit-scrollbar {width: 0 !important}

.reference-header {
    padding: 5px;
    background: #CECECE;
}

.reference-details {
    padding-left: 2em;
    text-indent: -2em;
    margin: 5px;
}

.ui.menu div.item {
    padding: 7px;
}

.tags, .notes-container {
    margin: 5px;
}


